body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin: 10px 0;
  }
  
  #topRightButtons {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  main {
    max-width: 300px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  label,
  input,
  button {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 5px;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  